


*::selection {
    background-color: rgba(241, 154, 61, 0.525);
    color: black
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.603);
}

.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 0;
}

.container-fluid>.logo{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top:0;
    left: 47%;
}

.container-fluid>.logo>img{
    height: 100%;
    width: 20%;
    filter: invert(0.7);
    mix-blend-mode: difference;
}

body>img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(5px);
}

form {
    height: 60vmin;
    width: 40vmax;
    background-color: rgba(199, 199, 199, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.388);
    box-shadow: 5px 5px 20px rgba(221, 211, 211, 0.525) !important;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

form:hover {
    transition: all 2s ease;
    transform: scale(1.1);
}

.heading {
    font-size: xx-small;
    font-weight: bold;
    background-image: linear-gradient(90deg, rgb(187, 184, 24), rgb(255, 255, 255), rgb(187, 255, 0), rgb(6, 209, 17),rgb(255, 255, 255));
    background-size: 200%;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 10s linear infinite;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

@keyframes shine {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

#message {
    width: 100%;
    color: rgba(0, 0, 0, 0);
    transition: 5s ease;
    font-size: 1.2rem;
}

button {
    width: 100%;
    margin: 0;
    background-color: rgba(121, 111, 111, 0.308) !important;
    color: white !important;
}

button:hover {
    border: 1px solid rgba(156, 149, 144, 0.644) !important;
    background-color: rgba(48, 44, 44, 0.308) !important;
}

input {
    border: 1px solid rgba(92, 72, 72, 0.418) !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.495) !important;
}

input::placeholder {
    color: white !important;
}